body{
    background-color: #1C1C1C;
}
.calculator-box{
    width: 400px;
}
.button{
    background-color: #505050 ;

}
.function{
    background-color: #D4D4D2;
}
.operator{
    background-color: #FF9500;
}
.display{
    font-size: 60px;
}